<div class="row">
  <div class="col-lg-6">
    <h2>Burgers to Eat</h2>

    {{#each burger}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
  </div>
  <div class="col-lg-6">
    <h2>Eaten Burgers</h2>

    {{#each burger}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <h2>Add a Burger</h2>
      <form class="create-form">

        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="burger_name">
        </div>
        <button class="btn btn-dark" type="submit button">Add Burger</button>
      </form>
    </div>
</div>