.jumbotron {
  background-image: "/public/assets/images/watercolour-2053269_1920.jpg" !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 100% !important;
  color: pink;
  background-color: pink !important;
}

#hotpink {
  color: hotpink;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}