.jumbotron {
  background-image: url("/assets/images/watercolour2.jpg") !important; 
  background-size: cover !important;
  /* background-repeat: no-repeat !important; */
  height: 100vh;
  margin-bottom: 0;
}

.bg-warning {
  background-color: #444c6c !important;
  color: white; 
}

.btn-light {
  background-color: #fc3200;
}

.btn-dark {
  background-color: #fbc005;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}