<p>
	{{burger_name}} 

	{{#unless devoured}}
	<button type="button" class="change-devoured btn btn-light" data-burger_name="{{burger_name}}" data-newDevoured="{{devoured}}">
		Hungry?
	</button>
	{{/unless}}

</p>
